body {
  background: url('../assets/background-1.png');
  background-size: cover;
}

.setting-btn::before {
  background-image: url('../assets/group.png');
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  display: block;
  height: 40px;
  left: 10px;
  position: absolute;
  top: 5px;
  width: 40px;
}

.setting-btn {
  border: none;
  outline: none;
  background-color: #660033;
  color: white;
  width: 150px;
  height: 50px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  text-transform: uppercase;
  position: relative;
  align-self: center;
}
